html {
  font-family: sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

.section-dark {
  background-color: #e2e2e2;
}

a {
  color: #0074d9;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li a:hover {
  background-color: #0074d9;
  color: #e2e2e2;
}

.nav a {
  display: block;
  text-decoration: none;
}

.current {
  background-color: #0074d9;
  color: #e2e2e2;
}

.masthead {
  text-align: center;
}

@media only screen and (min-width: 25em) {

  .nav li {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  .masthead {
    text-align: left;
  }

  ul {
    text-align: right;
  }

}
